html,
body {
    height: 100%;
}

#index {
    height: 100%;
    width: 100%;
    position: relative;
}

.content {
    width: 1200px;
    height: 100%;
    margin: 0px auto;
}

/* public-css -> 公用样式 */
#index .hover-red:hover {
    color: red !important;
}

/* head-nav -> 头部导航 */
#head-nav {
    height: 30px;
}

#head-nav .head-nav {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.head-nav .left span {
    color: #bbb;
    margin-right: 15px;
}

.head-nav .left a {
    background: url(../images/homepage/icon-xx.png) no-repeat left center;
    padding-left: 12px;
}

.head-nav .right ul {
    display: flex;
}

.head-nav .right ul li {
    padding: 0px 15px;
    background: url(../images/homepage/line-l.png) no-repeat right center;
}

.head-nav .right ul li a {
    color: #4b4b4b;
}

.head-nav .right ul li span {
    background: url(../images/homepage/icon-erwm.png) no-repeat left center;
    color: #666;
    padding: 0 15px 0 17px;
}

#head-nav .head-nav .right ul li:last-child {
    position: relative;
}

#head-nav .head-nav .right ul li:last-child span:hover+p {
    display: block;
}

#head-nav .head-nav .right ul li:last-child a {
    color: #008000;
}

#head-nav .head-nav .right ul li:last-child p {
    position: absolute;
    right: 13px;
    top: 20px;
    display: none;
    background-color: #fff;
}

/* head-carousel -> 头部轮播 */
#head-carousel {
    height: 118px;
}

#head-carousel a:first-child {
    height: 100%;
    display: block;
    background: url(../images/homepage/672a714a519a4bf38a4f92d2628d2b6c.jpg) no-repeat center center;
}

#head-carousel a:last-child {
    height: 100%;
    display: block;
    background: url(../images/homepage/18d24115d93d4a79a390a3cada7bf126.jpg) no-repeat center center;
    display: none;
}

/* head -> 头部主要内容 */
#head {
    height: 100px;
}

#head .head {
    height: 100%;
    display: flex;
    align-items: center;
}

#head .head a:first-child {
    width: 320px;
}

#head .head .input {
    display: flex;
    flex-wrap: wrap;
    width: 516px;
}

#head .head .input .input-top input[type="text"] {
    height: 30px;
    width: 440px;
    color: #666;
    padding-left: 15px;
    box-sizing: border-box;
}

#head .head .input .input-top input[type="button"] {
    height: 30px;
    width: 76px;
    background-color: #fb1116;
    border: none;
    margin-left: -5px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

#head .head .input .input-buttom {
    margin-top: 5px;
}

#head .head .input .input-buttom ul {
    display: flex;
    font-size: 12px;
}

#head .head .input .input-buttom ul li {
    margin: 0px 10px;
}

#head .head .input .input-buttom ul li a {
    color: #5a5a5a;
}

#head .head .shop {
    width: 120px;
    height: 30px;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    margin-left: 120px;
    position: relative;
    padding: 0px 13px;
    box-sizing: border-box;
    margin-right: 45px;
}

#head .head .shop p {
    width: 15px;
    height: 15px;
    background-color: #fb1116;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    position: absolute;
    top: -7px;
    left: -7px;
    color: #fff;
}

#head .head .shop a {
    font-size: 12px;
    color: #4b4b4b;
    margin-left: 5px;
}

#head .head a:last-child img {
    width: 70px;
    height: 70px;
}

/* header-nav -> 头部主要导航 */
#header-nav {
    height: 33px;
}

#header-nav .header-nav {
    display: flex;
    height: 100%;
    align-items: center;
}

#header-nav .header-nav .left-nav {
    position: relative;
}

#header-nav .header-nav .left-nav>p {
    width: 195px;
    background-color: #fb1116;
    height: 100%;
    color: #fff;
    font-size: 13px;
    text-indent: 20px;
    line-height: 33px;
}

#header-nav .header-nav .left-nav .nav {
    width: 995px;
    height: 468px;
    position: absolute;
    top: 33px;
    z-index: 9;
    display: flex;
}

#header-nav .header-nav .left-nav .nav .block-nav {
    width: 195px;
    background-color: #fff;
    height: 100%;
}
#header-nav .header-nav .left-nav .nav .block-nav:hover+.none-nav{
    display: block;
}
#header-nav .header-nav .left-nav .nav .block-nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding-top: 15px;
}

#header-nav .header-nav .left-nav .nav .block-nav ul li span {
    display: block;
    width: 195px;
    height: 50px;
    padding: 5px 0px 3px 12px;
    box-sizing: border-box;
    margin-left: -12px;
    background: url(../images/homepage/icon-bsjt.png) no-repeat 180px 14px;
}

#header-nav .header-nav .left-nav .nav .block-nav ul li span>a {
    font-size: 14px;
    font-weight: 100;
    color: #111;
}

#header-nav .header-nav .left-nav .nav .block-nav ul li span>p a {
    font-size: 11px;
    font-weight: 100;
    border-left: 1px solid #888;
    line-height: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;
    color: #888;
}
#header-nav .header-nav .left-nav .nav .block-nav ul li span>p a:first-child{
    border: none;
}
#header-nav .header-nav .left-nav .nav .none-nav {
    width: 850px;
    background-color: #fff;
    height: 100%;
    border-left: 1px solid #ccc;
    display: none;
}
#header-nav .header-nav .left-nav .nav .none-nav:hover{
    display: block;
}
#header-nav .header-nav .left-nav .nav .none-nav dl{
    display: flex;
    height: 38.4px;
    padding: 5px 0;
    align-items: center;
}
#header-nav .header-nav .left-nav .nav .none-nav dl dt{
    width: 120px;
    line-height: 38px;
    height: 38px;
}
#header-nav .header-nav .left-nav .nav .none-nav dl dt a{
    font-size: 13px;
    color: #555;
    font-weight: 900;
    padding-left: 10px;
}
#header-nav .header-nav .left-nav .nav .none-nav dl dt a i{
    font-size: 14px;
    color: #555;
    float: right;
}
#header-nav .header-nav .left-nav .nav .none-nav dl dd{
    width: 465px;
    border-bottom: 1px dashed #ccc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 39.4px;
}
#header-nav .header-nav .left-nav .nav .none-nav dl dd a{
    font-size: 12px;
    color: #666;
    padding: 0px 10px;
    display: block;
    line-height: 12px;
    border-left: 1px solid #ccc;
}
#header-nav .header-nav ul {
    display: flex;
    font-size: 14px;
    font-weight: 900;
    margin-left: 57px;
    margin-right: 188px;
}

#header-nav .header-nav ul li {
    margin: 0px 12px;
}

#header-nav .header-nav ul li a {
    color: #4b4b4b;
}

#header-nav .header-nav .right-a {
    margin-top: -30px;
    position: relative;
}

#header-nav .header-nav .right-a span {
    font-size: 12px;
}

#header-nav .header-nav .right-a .a {
    position: absolute;
    top: 42px;
    z-index: 9;
    right: -19px;
}

/* banner -> 轮播图区域 */
#banner {
    height: 468px;
}

#banner ul li a img {
    width: 100%;
    height: 468px;
}

/* sidebar -> 侧边栏 */
#sidebar {
    width: 40px;
    background: black;
    position: fixed;
    right: 0;
    top: 30px;
    z-index: 9;
}

#sidebar .sidebar-user a {
    display: block;
    width: 100%;
    height: 35px;
    background: url(../images/homepage/ibar_sprites.png) no-repeat top left;
    background-position: 10px 8px;
    position: fixed;
    top: 170px;
}

#sidebar .sidebar-user a:hover {
    background-color: orange;
}

#sidebar .sidebar-user a:hover+p {
    display: block;
}

#sidebar .sidebar-user p {
    height: 35px;
    width: 80px;
    position: fixed;
    top: 170px;
    right: 65px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    display: none;
}

#sidebar .sidebar-shoop {
    height: 133px;
    width: 100%;
    position: fixed;
    top: 220px;
    background: url(../images/homepage/ibar_sprites.png) no-repeat top left;
    background-position: -23px -225px;
}

#sidebar .sidebar-shoop:hover {
    background-color: orange;
    background-image: none;
}

#sidebar .sidebar-shoop a {
    font-size: 12px;
    width: 22px;
    display: inline-block;
    color: #fff;
    margin-left: 9px;
    height: 130px;
    padding-top: 8px;
    text-align: center;
}

#sidebar .sidebar-shoop a span {
    margin-left: 2px;
    display: block;
    height: 25px;
    background: url(../images/homepage/ibar_sprites.png) no-repeat top left;
    background-position: -0px -25px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#sidebar .sidebar-shoop a p {
    width: 20px;
    height: 20px;
    background-color: orange;
    font-size: 13px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: #fff;
    margin-left: 1px;
    margin-top: 10px;
}

#sidebar .sidebar-foot a {
    display: block;
    width: 100%;
    height: 35px;
    background: url(../images/homepage/ibar_sprites.png) no-repeat top left;
    background-position: 10px -105px;
    position: fixed;
    top: 370px;
}

#sidebar .sidebar-foot a:hover {
    background-color: orange;
}

#sidebar .sidebar-foot a:hover+p {
    display: block;
}

#sidebar .sidebar-foot p {
    height: 35px;
    width: 80px;
    position: fixed;
    top: 370px;
    right: 65px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    display: none;
}

#sidebar .sidebar-collect a {
    display: block;
    width: 100%;
    height: 35px;
    background: url(../images/homepage/ibar_sprites.png) no-repeat top left;
    background-position: 10px -75px;
    position: fixed;
    top: 410px;
}

#sidebar .sidebar-collect a:hover {
    background-color: orange;
}

#sidebar .sidebar-collect a:hover+p {
    display: block;
}

#sidebar .sidebar-collect p {
    height: 35px;
    width: 80px;
    position: fixed;
    top: 410px;
    right: 65px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    display: none;
}

#sidebar .sidebar-service a {
    display: block;
    width: 100%;
    height: 35px;
    background: url(../images/homepage/kf.png) no-repeat top left;
    background-position: 6px 3px;
    position: fixed;
    top: 600px;
}

#sidebar .sidebar-service a:hover {
    background-color: orange;
}

#sidebar .sidebar-service a:hover+p {
    display: block;
}

#sidebar .sidebar-service p {
    height: 35px;
    width: 80px;
    position: fixed;
    top: 600px;
    right: 65px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    display: none;
}

#sidebar .sidebar-hotLine a {
    display: block;
    width: 100%;
    height: 35px;
    background: url(../images/homepage/ibar_sprites.png) no-repeat top left;
    background-position: 10px -165px;
    position: fixed;
    top: 640px;
}

#sidebar .sidebar-hotLine a:hover {
    background-color: orange;
}

#sidebar .sidebar-hotLine a:hover+p {
    display: block;
}

#sidebar .sidebar-hotLine p {
    height: 35px;
    width: 80px;
    position: fixed;
    top: 640px;
    right: 65px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    display: none;
}

#sidebar .sidebar-suggest a {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 0px;
    font-size: 14px;
    background-color: #666;
    color: #fff;
    text-align: center;
}

#sidebar .sidebar-qr a {
    display: block;
    width: 100%;
    height: 35px;
    background: url(../images/homepage/ibar_sprites.png) no-repeat top left;
    background-position: 10px -295px;
    position: fixed;
    top: 600px;
    display: none;
}

#sidebar .sidebar-qr a:hover {
    background-color: orange;
}

#sidebar .sidebar-qr a:hover+p {
    display: block;
}

#sidebar .sidebar-qr p {
    height: 200px;
    width: 200px;
    position: fixed;
    top: 435px;
    right: 65px;
    background: url(../images/homepage/wx.jpg) no-repeat center center;
    background-size: 200px 200px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    display: none;
}

#sidebar .sidebar-goTop a {
    display: block;
    width: 100%;
    height: 35px;
    background: url(../images/homepage/ibar_sprites.png) no-repeat top left;
    background-position: 10px -192px;
    position: fixed;
    top: 640px;
    display: none;
}

#sidebar .sidebar-goTop a:hover {
    background-color: orange;
}
/* new-arrivals -> 新品上市 */
#new-arrivals{
    margin-top: 17px;
    height: 435px;
}
#new-arrivals .new-arrivals .top ul {
    display: flex;
    justify-content: space-between;
}